
hw6/.vs/cpphw6/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.vcxproj
*.filters
*.user
*.log
*.exe
*.recipe
*.ilk
*.obj
*.pdb
*.tlog
*.txt
blackJack/.vs/blackJack/v16/.suo
*.sln
*.idb
*.Без названия
*.css
hw6/yandex_files/islands-small
hw6/yandex_files/islands-small(1)
hw6/yandex_files/islands-small(2)
hw6/yandex_files/islands-small(3)
hw6/yandex_files/logo-square
hw6/yandex_files/logo-square(1)
hw6/yandex_files/logo-square(2)
hw6/yandex_files/logo-square(3)
hw6/yandex_files/logo-square(4)
hw6/yandex_files/logo-square(5)
hw6/yandex_files/logo-square(6)
hw6/yandex_files/min_xh
*.html
hw6/yandex_files/orig
hw6/yandex_files/orig(1)
hw6/yandex_files/orig(2)
hw6/yandex_files/size84
hw6/yandex_files/size84(1)
